$primary-dark: #081726;
$primary-1: #102a42;
$primary-2: #243a52;
$primary-3: #324d67;
$primary-4: #48647f;
$primary-5: #617d98;
$primary-6: #829ab0;
$primary-7: #9eb2c7;
$primary-8: #bcccdc;
$primary-9: #dae2ec;
$primary-light: #f1f5f8;
$color-black: #000;

$secondary-dark: #8d5500;
$secondary-light: #fdb241;

$bp-largest: 75em; // 1200px
$bp-large: 68.75em; // 1100px
$bp-medium: 56.25em; // 900px
$bp-medium-small: 43.75em; // 700px
$bp-small: 37.5em; // 600px
$bp-smallest: 31.25em; // 500px
