.hero {
  background-image: linear-gradient(
      105deg,
      rgba($primary-light, 0.8) 0%,
      rgba($primary-light, 0.8) 50%,
      transparent 50%
    ),
    url("../assets/images/bgimg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 65.3rem;
  user-select: none;
  clip-path: polygon(0 0, 100% 20%, 100% 100%, 0 100%);

  @media only screen and (max-width: $bp-small) {
    clip-path: polygon(0 0, 100% 10%, 100% 100%, 0 100%);
    background-image: none;
    background: rgba($primary-light, 0.8);
  }

  &-container {
    width: 80%;
    height: 100%;
    margin: 0 auto;
    @include flex(center);
  }

  &-underline {
    width: 9rem;
    height: 0.4rem;
    border-radius: 1rem;
  }

  &-info {
    justify-self: flex-start;
    @include flex(flex-start);
    align-items: flex-start;
    flex-wrap: wrap;
    flex-direction: column;
    user-select: none;

    & h1 {
      font-size: 5rem;
      color: $primary-1;
      margin-bottom: 1rem;
      text-transform: capitalize;
      letter-spacing: 0.4rem;
      @media only screen and (max-width: $bp-smallest) {
        font-size: 4.5rem;
      }
    }

    & h4 {
      font-size: 2rem;
      color: $primary-1;
      text-transform: capitalize;
      margin: 1rem 0rem;
    }

    & p {
      font-size: 1.6rem;
      color: $primary-1;
      margin: 1rem 0rem;
      font-weight: 500;
      width: 55%;

      @media only screen and (max-width: $bp-small) {
        width: auto;
      }
    }
  }
}
